<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">DC Charts</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home/getAggResByYear']">
                        <span class='glyphicon glyphicon-home'></span> Aggregated Result by Year
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home/getAvgIndLTFVByYear']">
                        <span class='glyphicon glyphicon-signal'></span> Average indexed LTFV
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home/getAvgOrigPropValByYear']">
                        <span class='glyphicon glyphicon-signal'></span> Average property value
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home/getAggregatedRes']">
                        <span class='glyphicon glyphicon-signal'></span> Aggregated result
                    </a>
                </li>
                <li>
                    <filtering></filtering>
                </li>
            </ul>
        </div>
    </div>
</div>
