<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">my_new_app</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                    <div class="available-kpis">
                        <button *ngFor="let kpi of kpis" (click)="addFilter(kpi)" type="button" class="btn btn-light">{{ kpi.value }}</button>
                    </div>
                    <div class="pre-defined-helpers">
                        <button *ngFor="let helper of preDefinedHelpers" (click)="addFilter(helper)" type="button" class="btn btn-warning">{{ helper.value }}</button>
                    </div>
                    <div class="custom-value">
                        <input type="number" class="form-control" [(ngModel)]="customValue" placeholder="add value" />
                        <button *ngIf="customValue" type="button" (click)="addCustomValue()" class="btn btn-success">OK</button>
                    </div>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/counter']">
                        <span class='glyphicon glyphicon-education'></span> Counter
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
